<VirtualHost *:80>
    DocumentRoot "{PATH}"
    ServerName {URL}
    JkMountFile "{CFPATH}/config/wsconfig/1/{CFID}.properties"
    <Directory "{PATH}">
        Options Indexes FollowSymLinks MultiViews
        AllowOverride All
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
    Alias /CFIDE "{CFPATH}/{CFID}/wwwroot/CFIDE"
    <Directory "{CFPATH}/{CFID}/wwwroot/CFIDE">
        Options Indexes FollowSymLinks
        AllowOverride All
        Order allow,deny
        Allow from all
        Require all granted
    </Directory>
</VirtualHost>